.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/** Filter Window**/
.sidebar-navigation {
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
  border: 2px solid #708090;
  padding: 5px;
  width: 90%;
  /* height: 50%; */
  margin-top: 5px;
  margin-left: 5px;
  /* margin-bottom: 10%; */
  /* position: fixed; */
  top: 10px;
  left: 10px;
  z-index: 99;
  background: #fff;
  /* cursor: url(components/custom_cursor2.png), auto; */
  resize: both;
  overflow: auto;
}

.block {
  border-radius: 15px;
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  border: 2px solid #708090;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

input[type='checkbox'] {
  margin-right: 5px;
}

.flex-row{
  display: flex;
}

.chart-column{
  flex: 75%;
  padding: 10px;
}

.menu-column{
  flex: 25%;
  padding: 10px;
}