.sidebar-navigation {
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
  border: 2px solid #708090;
  padding: 20px;
  width: 20%;
  height: 50%;
  margin-top: 10%;
  margin-left: 50px;
  margin-bottom: 10%;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
  background: #fff;
  /* cursor: url(components/custom_cursor2.png), auto; */
  resize: both;
  overflow: auto;

}

.block {
  border-radius: 15px;
  display: block;
  width: 100%;
  border: none;
  background-color: #ffffff;
  border: 2px solid #708090;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

input[type='checkbox'] {
  margin-right: 5px;
}